{% extends "layout.jinja2" %} 

{% block content%}
<div class="content">
    <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter scaffold</span></h1>
    <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, an&nbsp;application generated&nbsp;by<br>the <span class="font-normal">PyCharm 1.10.4</span>.</p>
</div>
{% endblock content %}
